@use 'variables.scss' as *;

.square {
    height: 30px;
    width: 30px;

    background-color: $green;
}

body.modal-is-open {
  overflow: hidden;
}

.tag {
    min-height: 30px;
    min-width: 100px;
}

.button {
    min-height: 40px;
    min-width: 120px;
}