@use 'variables.scss' as *;


.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.mt-1 {
    margin-top: $space-1;
}

.mx-1 {
    margin-right: $space-1;
    margin-left: $space-1;
}